@import url("https://webfonts.artsy.net/all-webfonts.css");

.App {
  max-width: 500px;
  margin: 0 auto;
  font-family: "Adobe Garamond W08", sans-serif;
}

.artist-list {
  border: 1px solid black;
}
